ion-label{
  width: 35%;
}
.buttonContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.stringContainer{
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 5%;
}
