<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">LOCK</ion-title>
    <div style="width: 100%; display: flex; justify-content: center;" >
      <ion-icon name="lock-closed"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label >User</ion-label>
    <ion-input [(ngModel)]="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Password</ion-label>
    <ion-input [(ngModel)]="psw"></ion-input>
  </ion-item>
  <ion-item>
    <ion-button (click)="login()">Login</ion-button>
  </ion-item>
 </ion-content>

